
* {
	box-sizing: border-box;
}
.card:hover{
	outline: 1px solid orange;
}



.flipped>img{
	opacity: 1;
}

#game{
	width: 100%;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 20vw  auto;
	grid-column-gap: 2vw;
}

h2{
	font-size: 2rem;
}

label{
	display: block;
}

input, button{
	width: 100%;
}