.card:hover{
	outline: 1px solid orange;
}

.card>img{
		opacity: 0;
}

.flipped>img{
	opacity: 1;
}

#game{
	width: 100%;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 10vw  66vw auto;
	grid-column-gap: 3vw;
}

h2{
	font-size: 2rem;
}

label{
	display: block;
}