.card:hover{
	outline: 1px solid orange;
}

.card>img{
		opacity: 0;
}

.flipped>img{
	opacity: 1;
}

#game{
	width: 100%;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 10%  66% auto;
	grid-column-gap: 3%;
}

h2{
	font-size: 1.2em;
}